body {
  background-image: linear-gradient(to right, #c6c1df, #5d6176, #8d7790);
  font-family: "Open Sans", sans-serif; }

h1, h2, h3 {
  color: rgb(252, 255, 240);
  font-family: "Lobster", cursive; }
  

h3 {
  color: #51556c; }

header h2 {
  color: #CEC8FF; }

footer{
  background-image: linear-gradient(to right, #7261b5, #763937, #7261b5);
  

}
.site-footer {
  background-image: linear-gradient(#CEC8FF, white);
  padding: 20px 0; }

.jumbotron {
  margin: 0;
  padding: 1px; 
  background-image: linear-gradient(to right, #59465b, #763937, #59465b);}

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px; }

.navbar {
  background-image: linear-gradient(to right, #59465b, #763937, #59465b);}

.site-footer {
  background-image: linear-gradient(#CEC8FF, white);
  padding: 20px 0; }

.tab-content {
  border: 1px solid #DDD;
  border-top: none;
  padding: 10px; }


#carouselButton {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 100; }





.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

.carousel-inner .carousel-item-right.active,
.carousel-inner .carousel-item-next {
  transform: translateX(25%);
}

.carousel-inner .carousel-item-left.active, 
.carousel-inner .carousel-item-prev {
  transform: translateX(-25%);
}
  
.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{ 
  transform: translateX(0);
  
}



ul img {
  width: 40px;
  height: 30px;
}